

/*--------------------------------------------------*/

  body {
    background-color: #080808;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer {
    color: rgb(167, 167, 167);
    background-color: #181818;

    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    left: 0;
    
    text-align: center;
    font-size: 14px;
    padding: 20px;
  }

  .favicon-credit {
    color: rgb(116, 116, 116);
  }

/*--------------------------------------------------*/



/*--------------------------------------------------*/

  h1 {
    color: white;

    font-size: 2.5em;
    font-weight: 1000;
    text-align: center;
    

    background: linear-gradient(to right, rgb(255, 85, 85), orange, rgb(255, 239, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/*--------------------------------------------------*/



/*--------------------------------------------------*/

  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .button {
    margin: 0.7em;
    padding: 0.8em;

    text-decoration: none;
    color: transparent;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;

    border: 0.1em solid #4e4e4e; 
    border-radius: 0.8em; 

    transition: border 0.5s ease, color 0.5s ease;
  }

  .button:hover {
    background: linear-gradient(to right, rgb(255, 94, 0), rgb(255, 174, 0), rgb(255, 196, 0));
    -webkit-background-clip: text;
    background-clip: text;
    border: 1px solid rgba(255, 166, 0, 0.774);
  }
  
/*--------------------------------------------------*/
