
  body {
    background-color: #080808;
    font-family: 'Open Sans', sans-serif;
  }

  footer {
    background-color: #181818;
    text-align: center;
    padding: 20px;
    color: rgb(167, 167, 167);
    font-size: 14px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    left: 0;
  }

  h1 {
    color: white;
    position: absolute;;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 1000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to right, rgb(255, 85, 85), orange, rgb(255, 239, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .favicon-credit {
    color: rgb(116, 116, 116);
  }

  .button-container {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
  }

  .button {
    text-decoration: none;
    color: transparent;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    border-radius: 15px; 
    border: 1px solid #272727; 
    margin: 0 10px;
    padding: 10px 15px;
    width: 210px;
    text-align: center;

    transition: border 0.5s ease, color 0.5s ease;
  }

  .button:hover {
    background: linear-gradient(to right, rgb(255, 94, 0), rgb(255, 174, 0), rgb(255, 196, 0));
    -webkit-background-clip: text;
    background-clip: text;
    border: 1px solid rgba(255, 166, 0, 0.774);
  }
  
